@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

html, body {
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

@theme {
  /* responsive design breakpoints */
  --breakpoint-xs: 30rem;
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-dm-serif: "DM Serif Display", serif;
  /* colors */
  --color-dominant-primary: #FE8400;
  --color-dominant-secondary: #FF9E0C;
  --color-light-bg: #FFFFFF;
  --color-light-secondary-bg: #F7F7F7;
  --color-light-tertiary: #FFF9F2;
  --color-dark-bg: #000000;
  --color-dark-secondary-bg: #2A2A2A;
    /* text */
  --color-light-txt: #FFFFFF;
  --color-dark-txt: #000000;
    /* footer */
  --color-footer-bg: #000000;
    /* card */
  --color-card-bg: #F7F7F7;
    /* banner */
  --color-banner-bg: #FE8400;
  --color-baner-txt: #FFFFFF;
}

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .section {
    margin-inline: 1rem;
    @variant sm {
      margin-inline: 2rem;
    }
    @variant lg {
      margin-inline: 4rem;
    }
  }

  .card {
    background-color: var(--color-card-bg);
    border-radius: var(--radius-3xl);
    overflow: hidden;
    color: var(--color-dark-txt);
    display: flex;
    flex-direction: column;
  }

  .banner {
    background-color: var(--color-dominant-primary);
    color: var(--color-baner-txt);
    border-radius: var(--radius-3xl);
  }

  .btn {
    background-color: var(--color-dominant-primary);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    text-align: center;
    border-radius: var(--radius-xl);
  }

  .btn:disabled {
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-500);
  }

  .btn-secondary {
    background-color: var(--color-light-tertiary);
    color: black;
    border: 1px solid var(--color-dominant-secondary);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 1);
    border-radius: calc(infinity * 1px);
  }
  
  .input {
    display: block;
    width: 100%;
    padding: calc(var(--spacing) * 2);
    border-width: 1px;
    border-color: var(--color-neutral-400);
    border-radius: var(--radius-lg);
  }

  .pagination-tab {
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--radius-sm);
    @variant md {
      font-size: 20px;
      width: 2rem;
      height: 2rem;
    }
  }

  .pref-wiz-header {
    font-size: var(--text-base);
    font-weight: 500;
    margin-top: calc(var(--spacing) * 6);
    @variant xs {
      font-size: var(--text-lg);
      font-weight: 400;
      margin-top: calc(var(--spacing) * 8);
    }
    @variant md {
      font-size: var(--text-xl);
      margin-top: calc(var(--spacing) * 12);
    }
  }
}

@utility text-vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

