@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

html, body {
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

@theme {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-dm-serif: "DM Serif Display", serif;
  /* colors */
  --color-dominant-primary: #FE8400;
  --color-dominant-secondary: #FF9E0C;
  --color-page-light-bg: #FFFFFF;
  --color-user-page-light-bg: #F7F7F7;
  --color-page-light-text: #000000;
  --color-footer-bg: #000000;
  --color-footer-light-text: #FFFFFF;
    /* dark mode */
  --color-page-dark-bg: #000000;
  --color-page-dark-text: #FFFFFF;
  --color-footer-dark-text: #FF9E0C;
    /* card */
  --color-card-bg: #F7F7F7;
  --color-card-text: #000000;
    /* banner */
  --color-banner-bg: #FE8400;
  --color_baner-text: #FFFFFF;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .card {
    background-color: var(--color-card-bg);
    border-radius: var(--radius-3xl);
    overflow: hidden;
    color: var(--color-card-text);
    display: flex;
    flex-direction: column;
  }
}

@layer components {}

