@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

html, body {
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

@theme {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-dm-serif: "DM Serif Display", serif;
  /* colors */
  --color-dominant-primary: #FE8400;
  --color-dominant-secondary: #FF9E0C;
  --color-light-bg: #FFFFFF;
  --color-light-secondary-bg: #F7F7F7;
  --color-dark-bg: #000000;
  --color-dark-secondary-bg: #2A2A2A;
    /* text */
  --color-light-txt: #FFFFFF;
  --color-dark-txt: #000000;
    /* footer */
  --color-footer-bg: #000000;
    /* card */
  --color-card-bg: #F7F7F7;
    /* banner */
  --color-banner-bg: #FE8400;
  --color-baner-txt: #FFFFFF;
}

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .card {
    background-color: var(--color-card-bg);
    border-radius: var(--radius-3xl);
    overflow: hidden;
    color: var(--color-dark-txt);
    display: flex;
    flex-direction: column;
  }

  .banner {
    background-color: var(--color-dominant-primary);
    color: var(--color-baner-txt);
    border-radius: var(--radius-3xl);
  }

  .btn {
    background-color: var(--color-dominant-primary);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    text-align: center;
    border-radius: var(--radius-xl);
  }
}

